*{
    padding: 0%;
    margin: 0%;
    font-family: 'Poppins', sans-serif;
    
}
h1{
  font-size: 100%;
}
.text p {
  font-size: 93%;
}
nav {
  text-align: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(62, 62, 62, 0.05);
  margin-bottom: 15px;
  font-family: 'Quicksand', sans-serif;
}

nav a {
  text-decoration: none;
  color: #17214D;
  font-size: 16px;
  flex-wrap: wrap;
  cursor: pointer;
}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  .mySlides {
    display: none;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #515050;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .text {
    display: block;
    color: #767676;
    font-size: 15px;
    padding: 8px 12px;
    position: relative;
    bottom: 8px;
    width: 100%;
    text-align: center;
    margin-top: 15px;
  }
  
  .numbertext {
    color: #767676;
    font-size: 12px;
    padding: 8px 12px;
    position: relative;
    text-align: center;
    top: 0;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  .imagem{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    
  }
  img{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .nao{
    box-shadow: 0px 0px 0px rgb(255, 255, 255);
    margin-top: 25px;
  }
  .saibamais{
    text-align: center;
    width: 200px;
    background: rgba(211, 211, 211, 0.531);
    font-weight: bold;
    color: #767676;
    border: 0 none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 5px;
    text-decoration: none;
    margin-top: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  section{
    display: flex;
    justify-content: center;
  }
  main{
    text-align: center;
  }
  .comecar{
    width: 350px;
    background: rgba(211, 211, 211, 0.531);
    font-weight: bold;
    font-size: 88%;
    color:#5a5a5a;
    border: 0 none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 10px;
    text-decoration: none;
    margin-top: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
